{% extends 'base.html' %}
    
{% block content %}

{% if categories.count > 0 %}

<h1>Categories</h1>

</div>
    <form id="categoryForm" method="post" action="categories">
        {% csrf_token %}
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <th>#</th>
                    <th>Category</th>
                    <th>Description</th>
                </thead>
            <tbody>
            <tr>
                <td><input type="text" name="Id" value="" size="10" /> </td>
                <td><input type="text" name="CategoryName" value="" size="10" /></td>
                <td><input type="text" name="Description" value="" size="10" /></td>
                <td><input type="submit" value="Szukaj" class="btn btn-primary"/></span></td>
            </tr>
            </tbody>
            </table>
        </div>
    </form>
</div>

<div class="page-header">
			</div>
			<div class="table-responsive">
			<table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>CategoryName</th>
                        <th>Description</th>
                        <th>Remove Category</th>
                    </tr>
                    </thead>
                    <tbody>
{% for category in categories %}
                    <tr>
                        <td>{{category.id}}</td>
                        <td>{{category.categoryname}}</td>
                        <td>{{category.description}}</td>
                        <td>
                            <form action="" method="POST"> 
                            {% csrf_token %}
                            <span class="glyphicon glyphicon-trash"></span>
                            <input type="submit" value="{{category.categoryname}} #{{category.id}}" name="remove" class="btn btn-primary"> </input>
                            </form>
                        </td>
                    </tr>
{% endfor %}
                    </tbody>
             </table>
</div>




<div>



{% else %}

<p> None to show!</p>

{% endif %}

{% endblock %}
