{% extends 'base.html' %}
    
{% block content %}

{% if employees.count > 0 %}

<h1>Employees</h1>

</div>
    <form id="employeeForm" method="post" action="employees">
        {% csrf_token %}
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <th>#</th>
                    <th>LastName</th>
                    <th>FirstName</th>
                    <th>Title</th>
                    <th>Address</th>
                    <th>Szukaj</th>
                </thead>
            <tbody>
            <tr>
                <td><input type="text" name="Id" value="" size="10" /> </td>
                <td><input type="text" name="LastName" value="" size="10" /></td>
                <td><input type="text" name="FirstName" value="" size="10" /></td>
                <td><input type="text" name="Title" value="" size="10" /></td>
                <td><input type="text" name="Address" value="" size="10" /></td>
                <td><input type="submit" value="Szukaj" class="btn btn-primary"/></span></td>
            </tr>
            </tbody>
            </table>
        </div>
    </form>
</div>

<div class="page-header">
			</div>
			<div class="table-responsive">
			<table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>LastName</th>
                        <th>FirstName</th>
                        <th>Title</th>
                        <th>Address</th>
                    </tr>
                    </thead>
                    <tbody>
{% for employee in employees %}
                    <tr>
                        <td>{{employee.id}}</td>
                        <td>{{employee.lastname}}</td>
                        <td>{{employee.firstname}}</td>
                        <td>{{employee.title}}</td>
                        <td>{{employee.address}}</td>
                        <td>
                        <form action="" method="POST"> 
                            {% csrf_token %}
                            <span class="glyphicon glyphicon-trash"></span>
                            <input type="submit" value="{{employee.lastname}} #{{employee.id}}" name="remove" class="btn btn-primary"> </input>
                            </form>
                        </td>
                    </tr>
{% endfor %}
                    </tbody>
             </table>
</div>




<div>



{% else %}

<p> None to show!</p>

{% endif %}

{% endblock %}
