{% extends 'base.html' %}
    
{% block content %}

{% if customers.count > 0 %}

<h1>Oders with employees which where hired after 1992-05-01</h1>


<div class="page-header">
			</div>
			<div class="table-responsive">
			<table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Which</th>
                        <th>HireDate</th>
                        <th>OrderId</th>
                    </tr>
                    </thead>
                    <tbody>
{% for customer in customers %}
                    <tr>
                        <td>{{customer.id}}</td>
                        <td>{{customer.hireDate}}</td>
                        <td>{{customer.orderid}}</td>
                        </td>
{% endfor %}
                    </tbody>
             </table>
</div>

<a href="ordersManager" class="btn btn-info"><span class="glyphicon glyphicon-align-left"></span> customers Views List</a>



<div>



{% else %}

<p> None to show!</p>

{% endif %}

{% endblock %}



