{% extends 'base.html' %}
    
{% block content %}
    <div class="page-header">
        <h1>Listing panel <span class="glyphicon glyphicon-heart"></span><br>
            <small>Choose your action</small>
        </h1>
    </div>

  <div class="panel-body">
                <table class="table table-striped">
                    <tr>
                        <td><b>Orders</b></td>
                        <td>
                            <a href="orders" class="btn btn-info"><span class="glyphicon glyphicon-list-alt"></span> View and manage Orders</a>
                        </td>
                        <td><a href="addOrder" class="btn btn-warning"><span class="glyphicon glyphicon-flash"></span> Add new order</a></td>
                    </tr>
                    <tr >
                        <td><b>Categories</b></td>
                        <td>
                            <a href="categories" class="btn btn-info"><span class="glyphicon glyphicon-list-alt"></span> View and manage Categories</a>
                        </td>
                        <td><a href="addCategory" class="btn btn-warning"><span class="glyphicon glyphicon-flash"></span> Add new Category</a></td>
                    </tr>
                    <tr>
                        <td><b>Customers</b></td>
                        <td>
                            <a href="customers" class="btn btn-info"><span class="glyphicon glyphicon-list-alt"></span> View and manage Customers</a>
                        </td>
                         <td><a href="addCustomer" class="btn btn-warning"><span class="glyphicon glyphicon-flash"></span> Add new Customer</a></td>
                    </tr>
                    <tr>
                        <td><b>Employees</b></td>
                        <td>
                            <a href="employees" class="btn btn-info"><span class="glyphicon glyphicon-list-alt"></span> View and manage Employees</a>
                        </td>
                        <td><a href="addEmployee" class="btn btn-warning"><span class="glyphicon glyphicon-flash"></span> Add new Employee</a></td>
                    </tr>
                    <tr>
                        <td><b>Regions</b></td>
                        <td><a href="regions" class="btn btn-info"><span class="glyphicon glyphicon-list-alt"></span> View and manage Regions</a></td>
                        <td><a href="addRegion" class="btn btn-warning"><span class="glyphicon glyphicon-flash"></span> Add new Region</a></td>
                    </tr>
                </table>
            </div>
{% endblock %}
  