{% extends 'base.html' %}
    
{% block content %}
    <div class="page-header">
        <h1>Orders per employee<br>
        </h1>
    </div>

    <a href="ordersPerEmployee" class="btn btn-info"><span class="glyphicon glyphicon-align-left"></span> Orders per Employee</a>
    <a href="employeesHireDate" class="btn btn-info"><span class="glyphicon glyphicon-align-left"></span> Employees after 1992-05-01</a>
    <a href="ordersFreightTop" class="btn btn-info"><span class="glyphicon glyphicon-align-left"></span> Top ten orders with highest freight</a>

{% endblock %}



